[submodule "themes/minimal-bootstrap"]
	path = themes/minimal-bootstrap
	url = https://github.com/frondimar/minimal-bootstrap-hugo-theme.git
[submodule "public"]
	path = public
	url = https://github.com/frondimar/blog_public.git
